<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1ddbc">  <td>22/03/20 18:57:35</td>   <td>0</td> <td title="&gt;&gt;TestBase.startBeforeSuiteExecution(org.testng.ITestContext)[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&gt;&gt;startBeforeSuiteExecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="a1ddbc">  <td>22/03/20 18:57:35</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeClassTest()[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&gt;&gt;beforeClassTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="989572">  <td>22/03/20 18:57:35</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ApiCallUsingGoogleSheet.beforeClass()[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="a1ddbc">  <td>22/03/20 18:57:37</td>   <td>2065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethodTest(java.lang.reflect.Method)[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&gt;&gt;beforeMethodTest</td> 
<td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="989572">  <td>22/03/20 18:57:37</td>   <td>2068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiCallUsingGoogleSheet.ApiRequestUsingGoogleSheet(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">ApiRequestUsingGoogleSheet</td> 
  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="a1ddbc">  <td>22/03/20 18:57:39</td>   <td>3614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="989572">  <td>22/03/20 18:57:39</td>   <td>3953</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ApiCallUsingGoogleSheet.afterClass()[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="a1ddbc">  <td>22/03/20 18:57:41</td>   <td>5536</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.initReport()[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&lt;&lt;initReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
<tr bgcolor="a1ddbc">  <td>22/03/20 18:57:41</td>   <td>5715</td> <td title="&lt;&lt;TestBase.stopTestExecution(org.testng.ITestContext)[pri:0, instance:ApiCallUsingGoogleSheet@6f0b0a5e]">&lt;&lt;stopTestExecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635610193</td>   <td></td> </tr>
</table>
